<form action="" class="admin_login_form" method="post" id="Sign" name="form">
    <h4>Administration Login</h4>
    <div class="small-8">
        <div class="row">
            <div class="small-3 columns">
                <label class="right inline" for="Sign_username">Username</label>
            </div>
            <div class="small-9 columns">
                <input type="text" name="Sign[username]" value="" id="Sign_username" ng-model="user.name" required>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label class="right inline" for="Sign_password">Password</label>
            </div>
            <div class="small-9 columns">
                <input type="password" name="Sign[password]" value="" id="Sign_password" ng-model="user.password" required>
            </div>
        </div>
    </div>
    <div class="sign_errors" ng-show="hasErrors" ng-repeat="error in errors">
        <span>{{error}}</span>
    </div>
    <div class="small-6 large-6 columns">
        <button class="button [radius round]" ng-click="submitForm(user)">Login</button>
    </div>
</form>