<h1>Проекти</h1>

<ul class="list_projects">
    <div data-alert class="alert-box warning radius" ng-show="hasDeletedProject">
        Проектът беше изтрит
        <a href="javascript:" class="close" ng-click="hideDeletedMsg()">&times;</a>
    </div>
    <li class="panel" ng-repeat="project in projects" >
        <a class="close-reveal-modal project_delete right" title="Изтрии проекта" ng-click="deleteProject(project.id, $index)">×</a>
        <div data-alert class="alert-box success radius" ng-show="updatedProjectId == project.id">
            Проектът беше записан успешно !
            <a href="javascript:" class="close" ng-click="hideSuccessMsg()">&times;</a>
        </div>
        <div class="thumbnail">
            <a class="th [radius]" href="javascript:">
                <img src="http://foundation.zurb.com/docs/assets/img/examples/earth-th-sm.jpg">
            </a>
        </div>
        <div class="project_content">
            <h5 ng-click="editProject(project.id)">{{project.attributes.title}}</h5>
            <p>{{project.attributes.small_content}}</p>

            <a href="javascript:" class="button tiny" ng-click="viewMoreInfo(project.attributes)">Виж още</a>
        </div>
        <div class="clear">&nbsp;</div>
    </li>
</ul>