@charset "UTF-8";

article, aside, details, figcaption, figure, hgroup {
	display:block;
	float: left;
	overflow: hidden;
}
section {
	display: block;
	overflow: hidden;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:100%;
	background-color: #f5f5f5;
	background-image: url(/images/background.gif);
	background-repeat: repeat-x;
	background-position: top;
	margin: 0px;
	line-height: 1.25em;
	color: #333333;
	background-attachment: fixed;
}
#header {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	display: block;
	overflow: hidden;
	z-index: 99;
	position: relative;
	top:0;
}
#comming-up {
	float: right;
	width: 374px;
	height: 157px;
	margin: 0 40px 0 0;
	background-image: url(/images/comming-up.gif);
}
.clear {
	clear: both;
}
#title {
	margin: 37px 0px 23px 20px;
	text-shadow: 1px 1px #fff;
	overflow: hidden;
	float: left;
	width: 480px;
}
#title img {
	float: left;
	display: block;
	margin: 0 5px 0 0;
}
#title a {
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	color: #333;
	text-decoration: none;
	margin: 10px 0 0 0;
	display: block;
}
#title a:hover {
	color: #333;
	text-decoration: none;
}
#title h3 {
	font-size: 0.75em;
	font-weight: normal;
	color: #333;
	display: block;
	margin: 0 0 0 1px;
}
#nav {
	margin-left: 20px;
	float: left;
	display: block;
	z-index: 1;
	position: relative;
}
#nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#nav ul li {
	float: left;
	margin: 0px;
	padding: 6px 7px 12px 7px;
}
#nav a {
	font-size: 0.875em;
	color: #ff0000;
	text-decoration: none;
	font-weight: bold;
	float: left;
	display: block;
}
#nav a:hover {
	text-decoration: underline;
}
#nav .active {
	background-color: #FFFFFF;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 0px none #FFFFFF;
	border-left: 1px solid #CCCCCC;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}
#nav .active a { 
	color: #f00;
}
#nav .nav-homepage {
	background-image: url(/images/nav_homepage.png);
	background-position: center center;
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 4px;
	display: inline;
}
#nav .nav-subscribe {
	background-image: url(/images/nav_subscribe.png);
	background-position: center center;
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 4px;
	display: inline;
}
#nav .nav-friends {
	background-image: url(/images/nav_friends.png);
	background-position: center center;
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 4px;
	display: inline;
}
#big-container {
	background-color: #FFFFFF;
	width: 958px;
	margin: 0px auto 0px auto;
	padding: 0;
	border: solid 1px #CCCCCC;
	position: relative;
	top: -1px;
	overflow: hidden;
	z-index: 0;
}
#big-container h1 {
	font-size: 1.5em;
	font-weight: normal;
	color: #333333;
	margin: 40px 20px 20px 30px;
}
#big-container h2 {
	font-size: 1.25em;
	font-weight: bold;
	color: #333333;
	margin: 40px 20px 20px 30px;
}
#big-container p {
	font-size: 0.875em;
	font-weight: normal;
	color: #333;
	margin: 0px 0px;
}
#big-container p a {
	color: #008000;
	text-decoration: underline;
}
#big-container p a:hover {
	color: #008000;
	text-decoration: none;
}
#welcome {
	margin: 0 0px 0 0px;
	width: 490px;
	float: right;
}
#welcome ul {
	font-size: 0.875em;
	font-weight: normal;
	color: #333;
	margin: 20px 30px 20px 30px;
}

/* Form */

form input:focus, textarea:focus {
	border: 1px solid #336699;
	box-shadow: none;
	outline: none;
}
form {
	margin: 0 0 20px 30px;
	width: 420px;
	overflow: hidden;
}
form p {
	float: left;
	display: block;
	overflow: hidden;
}
form label {
	margin: 5px 0px 0 0;
	display: block;
	overflow: hidden;
}
input, select {
	height: 30px;
	border: solid 1px #ccc;
	background-color: #f5f5f5;
	color: #336699;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1em;
	font-weight: normal;
	margin: 0 5px 0 0;
	float: left;
}
input[type="checkbox"] {
    border: none;
    padding: 0;
    background: none;
}
.checkbox {
	border-radius: 0;
	-moz-border-radius: 0px;
	float: left;
	margin: 0 5px 0 0;
}
#Sign_password, #Sign_passwordConfirm, #Sign_country, #Sign_city, #Sign_email, #Sign_username, #Sign_ {
	width: 190px;
}
#Sign_real_name {
	width: 390px;
}
#Sign_button, #Sign_submitUser {
	border: none;
	height: 30px;
	background-color: #336699;
	color: #FFF;
	font-weight: bold;
	font-size: 0.875em;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	padding: 0px 20px 0 20px;
	clear: none;
	float: left;
	margin: 0px 20px 0px 0;
	cursor: pointer;
}
.forminfo {
	font-size: 0.875em;
	margin: 0px 10px 15px 0;
	overflow: hidden;
	float: left;
	display: table;
}

/* Footer */

#footer {
	background-color: #fff;
	width: 958px;
	margin: 30px auto 30px auto;
	height: 90px;
	border: solid 1px #ccc;
}
#footer-nav {
	color: #fff;
	font-size: 0.875em;
	font-weight: normal;
	display: block;
	float: left;
}
#footer-nav ul {
	list-style: none;
	margin: 15px 0px 0px 20px;
	padding: 0px;
}
#footer-nav li {
	float: left;
	margin:0px;
	padding-right:20px;
	display: inline;
}
#footer-nav li.first {
	float: left;
	margin:0px;
	padding-right:20px;
}
#footer-nav a {
	color: #ff0000;
	text-decoration: none;
	font-weight: bold;
}
#footer-nav a:hover {
	color: #ff0000;
	text-decoration: underline;
	font-weight: bold;
}
#facebook-like {
	width: 300px;
	height: 83px;
	margin: 5px 2px 0px 0px;
	background-color: #FFFFFF;
	float: right;
	display: inline;
}
#copyright {
	color: #333;
	font-size: 0.75em;
	clear: left;
	margin: 0px 0px 0px 20px;
}
#copyright a {
	color: #336699;
	text-decoration: none;
}
#copyright a:hover {
	color: #336699;
	text-decoration: underline;
}
/* Errors */

#error_explanation {
	margin: 0 0 10px 30px;
	background-color: #fdf5e6;
	padding: 0;
	font-size: 0.75em;
	line-height: 1.25em;
	overflow: hidden;
	font-weight: normal;
	color: #ff0000;
}
#error_explanation h2 {
	display: none;
}
#error_explanation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
#error_explanation li {
	padding: 5px 5px 5px 30px;
	margin: 0;
	float: left;
	background-image: url(/images/error.gif);
	background-repeat: no-repeat;
	background-position: left center;
	clear: left;
}
@media screen and (max-width: 1000px) {
  #comming-up {
    display: none;
  }
  #header {
	width: 100%;
	overflow: hidden;
	position: relative;
  }
#title {
	float: left;
	clear: both;
}
#nav {
	float: none;
	clear: both;
	display: block;
}
}
.error{
border:2px solid red;
}