<form data-bind="submit: savePage">
    <input type="text" name="title" data-bind="value:  skeleton.title, attr: {placeholder: pageFromData.title}" />
    <br />
    <textarea data-bind="value: skeleton.content, ckEditor: skeleton.content, text: pageFromData.content" id="some_id">

    </textarea>
    <br />
    <select data-bind="options: pageStatus,
                       optionsText: 'name',
                       value: skeleton.status,
                       optionsCaption: pageFromData.status,
                       optionsValue: 'id'
                       "></select>
    <br />
    <textarea data-bind="value: skeleton.seo_description, attr: {placeholder:pageFromData.seoDescription}"></textarea>
    <br />
    <textarea data-bind="value: skeleton.seo_keywords, attr: {placeholder:pageFromData.seoKeyWords}"></textarea>
    <br />
    <input type="submit" class="btn btn-default" data-bind="value: pageFromData.save">
</form>